h1{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

h3{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: hsl(223, 47%, 23%);
}


p{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    color: #B5B8C5; 
}
body{
    background-image:url("/images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #E0E8FF;
}
.body-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_tarjeta{
    background: white;
    border-radius: 20px;
    height: auto;
    width: 25%;
    box-shadow: -1px 16px 63px -33px rgba(73,73,73,0.75);
    -webkit-box-shadow: -1px 16px 63px -33px rgba(73,73,73,0.75);
    -moz-box-shadow: -1px 16px 63px -33px rgba(73,73,73,0.75);
    
}
.tarjeta_header img{
    border-radius: 20px 20px 0 0;
    width: 100%;
}

.tarjeta_contenido{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 0 10%;
}

.tarifa_container{
    background-color: #F8F9FE;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.tarifa_container h3, p{
    margin: 0;
    text-align: center;
}

.tarifa_container i{
    padding: 12px;
    text-align: center;
    border-radius: 100%;
    background-color: #DDE4FB;
    color: #8790AD;
}
.change_button{
    color: #8C89BB;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}

button{
    background-color: #382AE1;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: -1px 16px 25px -15px rgba(56,42,225,0.75);
    -webkit-box-shadow: -1px 16px 25px -15px rgba(56,42,225,0.75);
    -moz-box-shadow: -1px 16px 25px -15px rgba(56,42,225,0.75); ;

}

button:hover{
    background-color: #2716df;
}


.cancel_order{
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 20px;
}


@media only screen 
and (min-width:768px)
and (max-width:1024px)
{
    .container_tarjeta{
        width: 50%;
        height: auto;
    }
}


@media only screen 
and (max-width:767px){
    .container_tarjeta{
        width: 90%;
        height: auto;
    }
}